input[type="email"].ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input[type="text"].ng-invalid.ng-dirty {
    background-color: #FA787E;
}
input[type="number"].ng-invalid.ng-dirty {
    background-color: #FA787E;
}

input.datepicker{
    position: relative; z-index: 20
}
td{
    word-wrap: break-word;
}
table tr.done {
    background: #cbe3c0; }
table tr.controlled {
    background: #e3bdbc; }



.dp-highlight .ui-state-default {
    background: #484;
    color: #FFF;
}

.login {
        background: #333 url('../images/mainback.jpg') center center no-repeat;

        }
.Highlighted a{
           background: #e33535 !important;
    	   color: #FFF !important;

    	}
