<div id="myModalSetConrol" class="reveal-modal small">
    <div class="large-12 columns">
        <a class="close-reveal-modal">&#215;</a>

        <form>
            <div class="large-12 columns">
                <label>В срок до</label>

                <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="ctrl_date" name="ctrl_date" type="text" required="">
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <ul class="button-group">
                        <li>
                            <button class="button" type="submit" name="submit" ng-click="setCtrlDate(ctrl_date)">
                                Применить
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="myModalSetIsp" class="reveal-modal middle" ng-controller="Inbox">
    <div class="large-12 columns">
        <a class="close-reveal-modal">&#215;</a>

        <form ng-submit="SetIsp()">
            <div class="large-12 columns">
                <label>Краткое описание результатов (500 символов)</label>
                <textarea ng-model="res_report" name="text" required=""></textarea>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <ul class="button-group">
                        <li>
                            <button class="button" type="submit" name="submit">Применить</button>
                        </li>
                    </ul>
                </div>
            </div>

        </form>

    </div>
</div>


<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>
<div class="row" ng-init=getDocById()>
    <div class="large-9 columns" ng-show="loader">

        <div class="large-2 columns large-offset-5">
            <img src="./images/5-1.gif" width="35px" height="35px">
        </div>
    </div>
    <div class="large-9 columns" ng-hide="loader">
        <div class="row">
            <div class=" large-12 columns">
                <div class="row">
                    <h5>Тема письма - {{docCard[0].docs_subject}}
                        <span class="alert label" ng-show="showCtrl">Контрольная дата: {{docCard[0].resolutions_d[0].control_date | date:'dd/MM/yyyy'}}</span>
                    </h5>
                </div>
                <div class="row">
                    <div class="large-12">

                        <div class="large-12">
                            <p>Номер: {{docCard[0].docs_number}} от {{docCard[0].docs_date | date:'dd/MM/yyyy'}}</p>

                            <p>Контрагент: {{docCard[0].docs_contr}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12">
                        <p>Инициатор: {{docCard[0].users_d.users_fio}}</p>
                        <p>Ответ на письмо №{{docCard[0].docs_answer}}</p>
                    </div>
                </div>
                <hr>

            </div>
        </div>
        <div class="row">
            <div class=" large-12 columns">
                <h5>Резолюции</h5>

                <p ng-repeat="userTo in docCard[0].resolutions_d">от <a ng-href="#/user/{{docCard[0].resolutions_d[0].user_from_r.users_id}}">{{ docCard[0].resolutions_d[0].user_from_r.users_fio }}</a> для <a ng-href="#/user/{{userTo.user_to_r.users_id}}">{{userTo.user_to_r.users_fio}}</a>: </p>
                <p>{{docCard[0].resolutions_d[0].text}}</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class=" large-12 columns">
                <h5>Отчет исполнителя</h5>
                <p ng-repeat="report in docCard[0].resolutions_d">от <a ng-href="#/user/{{docCard[0].resolutions_d[$index].user_to_r.users_id}}">{{ docCard[0].resolutions_d[$index].user_to_r.users_fio }}</a> :{{report.res_report}}
                </p>
            </div>
        </div>
    </div>
    <div class="large-3 columns panel">
        <h4>Действия</h4>


        <ul class="side-nav">
            <li>
                <a href="/getscan?docs_id={{docCard[0].docs_id}}" ng-show="openfilelink">
                <button class="large expand">Окрыть документ</button>
            </a></li>
            <div ng-show="show_boss">
            <li>
                <a ng-href="#/resolution/{{docCard[0].docs_id}}">
                    <button class="large expand" type="submit">Резолюция</button>
                </a>
            </li>
        </div>
            <div ng-show="show_manager">
                <li>
                    <a ng-href="#/{{doc_type}}/{{docCard[0].docs_id}}">
                        <button class="large expand" type="submit">Редактировать</button>
                    </a>
                </li>
            </div>
            <div ng-show="show_manager">
                <li>
                    <a ng-href="#/resolution/{{docCard[0].docs_id}}">
                        <button class="large expand" type="submit">Резолюция</button>
                    </a>
                </li>
            </div>
            <div ng-show="show_manager">
                <li ng-hide="showCtrl">
                    <form ng-submit="setCtrlDateModal()">
                        <button class="large expand" type="submit">Поставить на контроль</button>
                    </form>
                </li>
            </div>
            <div ng-show="show_manager">
                <li ng-show="showCtrl">
                    <form ng-submit="delCtrlDate()">
                        <button class="large expand" type="submit">Снять с котроля</button>
                    </form>
                </li>
            </div>
            <div ng-show="show_manager">
                <li ng-show="showCtrl">
                    <form ng-submit="setCtrlDateModal()">
                        <button class="large expand" type="submit">Изменить контрольный срок</button>
                    </form>
                </li>
            </div>
            <li ng-show="showIsp"><a>
                <button class="large" ng-click="ShowIspModal()">Отметить как исполненный</button>
            </a></li>
            <li class="divider"></li>
            <div ng-show="show_manager">
                <li><a href="#" ng-click="delDoc(docCard[0].docs_type)">
                    <button class="large expand alert">Удалить документ</button>
                </a></li>
            </div>
        </ul>
        <div ng-hide="show_manager">
            <div ng-show="showIsp">Действия для документа отсутствуют</div>
        </div>
        </li>


    </div>
</div>
