<div id="modalEditDolgn" class="reveal-modal medium">
    <form ng-submit="editDolgn()" ng-controller="Inbox">
        <label>Новое наименование</label>
        <div class="large-12 columns">
          <input type="hidden" ng-model="modal_dolgn_id">
          <input type="text"  ng-model="modal_dolgn_name">
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group">
                <li><button type="submit" class="small button">ОK</button></li>
            </ul>
        </div>
    </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>

</div>


<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>


<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">

            <dd><a href="#/users"><h4><label>Сотрудники</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/dolg"><h4><label class="success label">Должности</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/otdels"><h4><label>Отделы</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/settings"><h4><label>Система</label></h4></a></dd>

        </dl>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">

            <div class="large-offset-9 large-3 columns" ng-init="addDolgn=false">
                <button class="button" ng-click="addDolgn=!addDolgn">Новая должность</button>
            </div>
            <div  ng-show="addDolgn">
                <h4>Добавить должность</h4>
                <form class="custom" ng-submit="addDolgn()" ng-controller="Inbox" ng-init="getOtdels()" >
                    <div class="row">
                        <div class="large-8 columns">
                            <label>Наименование</label>
                            <input required ng-model="dolgn_name" name="dolgn_name" type="text">
                        </div>
                        <div class="large-4 columns">
                            <label>Отдел</label>
                            <select name="otdel_d.otdel_id" ng-model="otdel" class="medium" ng-options="c.otdel_name for c in otdels" required></select><br>
                        </div>
                        <div class="row">
                            <div class="large-12 right-align columns">
                                <button class="button right" type="submit" name="submit">Создать</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row collapse">
            <div class="large-offset-2 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-6 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить название отдела или должности">
            </div>
            <div class="large-2"></div>
        </div>


        <div class="row"  ng-init="getDolgnes()">
            <div class="large-12 columns" ng-show="loader">
                <div class="large-2 columns large-offset-5">
                    <img src="./images/5-1.gif" width="35px" height="35px">
                </div>
            </div>
            <div class="large-12 columns" ng-init="pageSize=20" ng-hide="loader">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
                <table class="large-offset-2">

                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Отдел</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="dolgn in dolgns | filter:query | startFrom: startItem | limitTo:limit ">

                        <td>{{dolgn.dolgn_name}}</td>
                        <td>{{dolgn.otdel_d.otdel_name}}</td>
                        <!-- 1 - редактирем должность -->
                        <td><button class="button small" ng-click="showEditModal(dolgn, $index, 1)">редактировать</button></td>

                    </tr>

                    </tbody>
                </table>

                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>


