<script src="javascripts/pGen.js"></script>
<div class="row">


    <div>
        <form novalidate enctype="multipart/form-data" ng-controller="Inbox" ng-init="getDolgnesId(0)" method="POST" action="/editUser" >
            <fieldset>
                <legend>Редактировать пользователя</legend>

                <div class="row" ng-init="getUserCard()">
                    <div class="large-8 columns">
                        <input type="hidden" name="users_id" value="{{userCard[0].users_id}}">
                        <label>ФИО</label>
                        <input ng-model="userCard[0].users_fio" name="users_fio" type="text" required>
                    </div>
                </div>
                <div class="row">
                    <div class="large-4 columns">
                        <label>Отдел</label>
                        <select ng-model="selectedOtdel" ng-change="getDolgnesId(selectedOtdel.otdel_id)" class="medium" ng-options="c.otdel_name for c in otdels" required></select>
                    </div>
                    <div class="large-4 columns">
                        <label>Должность</label>
                        <input type="hidden" value="{{selectedDolgn.dolgn_id}}" name="dolgn_u.dolgn_id">
                        <select ng-model="selectedDolgn" class="medium" ng-options="d.dolgn_name for d in dolgns" required></select>
                    </div>

                    <div class="large-4 columns">
                        <label>Статус</label>
                        <input type="hidden" value="{{selectedStatus.statuses_id}}" name="status_u.statuses_id">

                        <select  ng-model="selectedStatus" class="medium" ng-options="s.statuses_name for s in statuses" required></select>
                    </div>

                </div>

                <div class="row">
                    <br>
                    <div class="large-3 columns">
                        <label>Логин</label>
                        <input ng-model="userCard[0].users_login" name="users_login" type="text" required>
                    </div>
                    <div class="large-5 columns">
                        <label>Пароль</label>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input id="my-input-element" ng-model="users_password" name="users_password" type="text" required>
                            </div>
                            <div class="small-3 columns">
                                <a href="#"><span class="postfix radius" id="myLink">Придумать</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 columns">

                    </div>
                </div>
                <div class="row">

                    <div class="large-3 columns">
                        <label>Email</label>
                        <input ng-model="userCard[0].users_email" name="users_email" type="email" required>
                    </div>
                    <div class="large-3 columns">

                    </div>
                    <div class="large-6 columns">

                    </div>
                </div>
                <div class="row">

                    <div class="large-4 columns">
                        <label>Телефон 1</label>
                        <input ng-model="userCard[0].users_phone1" name="users_phone1" type="text">

                    </div>
                    <div class="large-4 columns">
                        <label>Телефон 2</label>
                        <input ng-model="userCard[0].users_phone2" name="users_phone2" type="text">

                    </div>
                    <div class="large-4 columns">
                        <label>Телефон 3</label>
                        <input ng-model="userCard[0].users_phone3" name="users_phone3" type="text">

                    </div>
                    <div class="large-12 columns">
                        <label for="photo">Прикрепить фото</label>
                        <input type="file" name="photo" id="photo">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="large-12 right-align columns">
                        <a href="" class="button right alert" ng-click="delUser()">Уволить</a>
                        <button class="button right" type="submit" name="submit">Изменить</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('#myLink').pGenerator({
            'bind': 'click',
            'passwordElement': '#my-input-element',
            'displayElement': '#my-input-element',
            'passwordLength': 8,
            'uppercase': true,
            'lowercase': true,
            'numbers':   false,
            'specialChars': false

        });
    });
</script>