
<div id="myModalIsp" class="reveal-modal large">
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="large-offset-1 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-8 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить данные пользователя">
            </div>
            <div class="large-2"></div>
        </div>
        <div class="row">
            <div class="large-12">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-init="getUsers()">
            <table>

                <thead>
                <tr>

                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th>Выбрать</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">

                    <td>{{user.users_fio}}</td>
                    <td>{{user.dolgn_u.dolgn_name}}</td>
                    <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                    <td><label ng-click="setIsp(user)">выбрать</label></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="myModalResult" class="reveal-modal medium">
    <div class="large-12 columns">
        <p>{{docNumber}}</p>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group">
                <li><a ng-click="goToOutbox(0)" class="small button">ОK</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row" ng-init="showMenU()">
    <div class="large-10 columns">
        <h2>Редактирование документа</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>



<div class="row">
    <div class="large-12 columns">


        <form ng-upload ng-init=getDocById()   name="newDocForm" action="/editoutletter">
            <fieldset>
                <legend>Реквизиты исходящего письма</legend>

                <div class="row">
                    <div class="large-8 columns">
                        <label>Тема</label>
                        <input type="hidden" value={{docCard[0].docs_id}} name="docs_id">
                        <input ng-model="docCard[0].docs_subject" name="docs_subject" type="text" required="" >
                    </div>
                    <div class="large-4 columns">
                        <label>Дата письма</label>
                        <input ui-date="{dateFormat: 'dd/mm/yy'}"  value="{{docCard[0].docs_date | date:'dd/MM/yyyy'}}" name="docs_date"  type="text" required="">
                    </div>
                </div>

                <div class="row"  >
                    <div class="large-8 columns">
                        <label>Контрагент</label>
                        <input ng-model="docCard[0].docs_contr" name="docs_contr" type="text" required="">
                    </div>

                    <div class="large-4 columns">
                        <label>Ответ на входящее №</label>
                        <input ng-model="docCard[0].docs_answer" name="docs_answer" type="text">
                    </div>
                    <div class="large-6 columns">
                        <label>Исполнитель</label>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input hidden  ng-model="isp.users_id" name="users_d.users_id">
                                <input type="text" DISABLED ng-model="isp.users_fio" required="">
                            </div>
                            <div class="small-3 columns">
                                <a href="#" ng-click="changePage('first')" class="button prefix" data-reveal-id="myModalIsp">Выбор</a>
                            </div>
                        </div>
                    </div>

                    <div class="large-6 columns">

                    </div>
                    <div class="large-12 columns" ng-show="openfilelink">
                        <p>Скан уже сохранен <a ng-href="./uploads/{{docCard[0].docs_scan_id}}">просмотреть </a>|<a href="" ng-click="delScan()"> удалить</a> </p>
                    </div>
                    <div class="large-8 columns">
                        <label for="file">Прикрепить скан в формате PDF</label>
                        <input type="file" name="file" ng-model="file" id="file">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul class="button-group">

                                <li><button ng-disabled="newDocForm.$invalid" class="button" type="submit" name="submit" upload-submit="uploadFile(content, completed)">Создать</button></li>
                                <li><a href="#/outbox" class="small button">Отмена</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </fieldset>
        </form>



    </div>


</div>
