

<div id="myModalResult" class="reveal-modal medium">
    <div class="large-12 columns">
        <p>{{docNumber}}</p>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group">
                <li><a ng-click="goToOutbox(0)" class="small button">ОK</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row" ng-init="showMenU()">
    <div class="large-10 columns">
        <h2>Редактирование документа</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>



<div class="row">
    <div class="large-12 columns">


        <form ng-upload ng-init=getDocById()   name="newDocForm" action="/editinletter">
            <fieldset>
                <legend>Реквизиты входящего письма</legend>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Тема</label>
                        <input type="hidden" value={{docCard[0].docs_id}} name="docs_id">
                        <input ng-model="docCard[0].docs_subject" name="docs_subject" type="text" required="">
                    </div>
                    <div class="large-3 columns">
                        <label>Номер письма у контрагента</label>
                        <input ng-model="docCard[0].docs_number_in" name="docs_number_in"  type="text">
                    </div>
                    <div class="large-3 columns">
                        <label>Дата письма</label>
                        <input ui-date="{dateFormat: 'dd/mm/yy'}" value="{{docCard[0].docs_date | date:'dd/MM/yyyy'}}"  name="docs_date"  type="text" required="">
                    </div>
                </div>

                <div class="row"  >
                    <div class="large-8 columns">
                        <label>Контрагент</label>
                        <input ng-model="docCard[0].docs_contr" name="docs_contr" type="text" required="">
                    </div>

                    <div class="large-4 columns">
                        <label>Ответ на исходящее №</label>
                        <input ng-model="docCard[0].docs_answer" name="docs_answer" type="text">
                    </div>
                </div>

                <div class="row"  >


                    <div class="large-12 columns">
                        <label>Текст резолюции</label>
                        <textarea ng-model="docCard[0].resolutions_d[0].text" name="text"></textarea>
                    </div>
                    <br>
                    <div class="large-12 columns" ng-show="openfilelink">
                        <p>Скан уже сохранен <a ng-href="./uploads/{{docCard[0].docs_scan_id}}">просмотреть</a>|<a href="" ng-click="delScan()"> удалить</a> </p>
                    </div>
                    <div class="large-8 columns">
                        <label for="file">Прикрепить скан в формате PDF</label>
                        <input type="file" name="file" ng-model="file" id="file">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul class="button-group">

                                <li><button ng-disabled="newDocForm.$invalid" class="button" type="submit" name="submit" upload-submit="uploadFile(content, completed)">Изменить</button></li>
                                <li><a href="#/inbox" class="small button">Отмена</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </fieldset>
        </form>



    </div>


</div>
