<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>
<div class="row">
    <div class="large-12 columns" ng-show="show_manager">
        <ul class="button-group">
            <li><a href="#/newin" class="button">Зарегистрировать новое письмо</a></li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="large-6 columns">
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="text" ng-model="query">
            </div>
            <div class="small-2 columns">
                <a href="#" class="button prefix" >Поиск</a>
            </div>
        </div>
    </div>

</div>
<div class="row" ng-init="getFirstDate(0)">

    <div class="large-8 columns">
        <label><a ng-click="archive=!archive">Архив</a></label>
        <div ng-show="archive" ng-init="archive=false">
            <label><a class="radius label" ng-repeat="year in Years" ng-click="getDocs(0, year)">{{year}} </a></label>
        </div>

    </div>

</div>
<div class="row">
   <div class="large-8 columns">
    <div class="large-4 right text-right">
        <a href="" ng-click="status=''">Все </a> | <a href="" ng-click="status='false'"> Неисполненные</a>
    </div>
   </div>

</div>
<div class="row">
    <div class="large-8 columns" ng-init="getDocs(0)" ng-show="loader">

        <div class="large-2 columns large-offset-5">
            <img src="./images/5-1.gif" width="35px" height="35px">
        </div>

    </div>

    <div class="large-8 columns" ng-hide="loader">
        <div class="pagination-centered" ng-init="changePage('first')">
            <ul class="pagination">
                <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
            </ul>
        </div>
        <table>
            <thead>
            <tr>
                <th width="7">№</th>
                <th>Тема</th>
                <th width="50">Контрагент</th>
                <th width="15">Дата</th>
                <th width="33">Входящий номер</th>
                <th width="50">Отписано</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="doc in docs | filter:query | filter: status | startFrom: startItem | limitTo:limit " ng-class="{'done': doc.docs_done==false, 'controlled': doc.docs_status=='K'}">

                <td>{{doc.docs_number}}</td>
                <td><a ng-href="#/doccard/{{doc.docs_id}}">{{doc.docs_subject}}</a></td>
                <td>{{doc.docs_contr}}</td>
                <td>{{doc.docs_date | date:'dd/MM/yy'}}</td>
                <td>{{doc.docs_number_in}}</td>
                <td><a ng-repeat="userTo in doc.resolutions_d" ng-href="#/user/{{userTo.user_to_r.users_id}}">{{userTo.user_to_r.users_fio}} </a></td>



            </tr>
            </tbody>
        </table>

        <div class="pagination-centered" ng-init="changePage('first')">
            <ul class="pagination">
                <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
            </ul>
        </div>

    </div>

    <div class="large-4 columns ">
        <h4>Контрольные задания</h4>

        <!--<div id="datepicker" ui-date="{dateFormat: 'dd/mm/yyyy'}" ui-date-format="dd/mm/yyyy" ng-model="dateCtrl"  custom-date ng-value=""> </div>-->
        <div id="datepicker" ng-model="dateCtrl" ng-value=""  custom-date> </div>
        <div  ng-show="showCtlText">
        <h4>Контрольные письма</h4>

        <div class="panel callout radius" ng-repeat="doc1 in docsControlled(dateCtrl)">


            <a ng-href="#/doccard/{{doc1.docs_id}}"><h6>Исходящий №{{doc1.docs_number}}</h6></a>


            <small>
                Тема: {{doc1.docs_subject}}<br>
                Ответственен: {{doc1.resolutions_d[0].user_to_r.users_fio}}
            </small>

        </div>
        </div>

        </p>

    </div>
</div>

