<header><img src="./images/logo.png"></header>
<div class="row login" ng-controller="Inbox">
    <div class="large-2 columns" ng-init="removeCache()"></div>
    <div class="small-8 large-offset-2 large-8 columns">
        <form ng-submit="getAuth()" ng-init="loginmes=false">
            <fieldset ng-init="hideMenU()">
                <div class="large-8">
                <input type="text" ng-model="login" placeholder="Логин" required="">
                <input type="password" ng-model="password" placeholder="Пароль" required="">
                 <span class="alert label" ng-show="loginmes">{{loginMes}}</span>

                </div>
                <br>

                <input class="button" type="submit" value="Войти">
            </fieldset>
        </form>
    </div>
    <div class="large-2 columns"></div>
</div>


