
<div id="myModalOtvet" class="reveal-modal large">
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="large-offset-1 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-8 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить данные пользователя">
            </div>
            <div class="large-2"></div>
        </div>
         <div class="row">
             <div class="large-12">
                 <div class="pagination-centered" ng-init="changePage('first')">
                     <ul class="pagination">
                         <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                         <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                         <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                     </ul>
                 </div>
         </div>

        <div class="row" ng-init="getUsers()">

            <table>

                <thead>
                <tr>

                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th>Выбрать</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">

                    <td>{{user.users_fio}}</td>
                    <td>{{user.dolgn_u.dolgn_name}}</td>
                    <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                    <td><label ng-click="setOtvetArr(user)">выбрать</label></td>

                </tr>

                </tbody>
            </table>
                </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="myModalResol" class="reveal-modal large">
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="large-offset-1 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-8 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить данные пользователя">
            </div>
            <div class="large-2"></div>
        </div>
        <div class="row">
            <div class="large-12">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
         </div>
        <div class="row" ng-init="getUsers()">
            <table>

                <thead>
                <tr>

                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th>Выбрать</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">

                    <td>{{user.users_fio}}</td>
                    <td>{{user.dolgn_u.dolgn_name}}</td>
                    <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                    <td><label ng-click="setResol(user)">выбрать</label></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="myModalResult" class="reveal-modal medium">
    <div class="large-12 columns">
        <p>{{docNumber}}</p>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group">
                <li><a ng-click="goToOutbox(0)" class="small button">ОK</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="row" ng-init="showMenU()">
    <div class="large-10 columns">
        <h2>Регистрация</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>



<div class="row">
    <div class="large-12 columns">


        <form ng-upload   name="newDocForm" action="/addletter">
            <fieldset>
                <legend>Реквизиты входящего письма</legend>

                <div class="row">
                    <div class="large-6 columns">
                        <label>Тема</label>
                        <input ng-model="docs_subject" name="docs_subject" type="text" required="" >
                    </div>
                    <div class="large-3 columns">
                        <label>Номер письма у контрагента</label>
                        <input ng-model="docs_number_in" name="docs_number_in"  type="text">
                    </div>
                    <div class="large-3 columns">
                        <label>Дата письма</label>
                        <input ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="docs_date" name="docs_date"  type="text" required="">
                    </div>
                </div>

                <div class="row"  >
                    <div class="large-8 columns">
                        <label>Контрагент</label>
                        <input ng-model="contr_d" name="docs_contr" type="text" required="">
                    </div>

                    <div class="large-4 columns">
                        <label>Ответ на исходящее №</label>
                        <input ng-model="docs_answer" name="docs_answer" type="text">
                    </div>
                </div>

                <div class="row"  >
                    <div class="large-6 columns">
                        <div class="row">

                            <div class="small-6 columns" >
                                <a href="#"  class="button prefix" data-reveal-id="myModalOtvet">Добавить ответственного</a>
                            </div>
                        </div>

                        <div class="row collapse">
                            <div class="small-12 columns" ng-repeat="addotvet in otvets">
                                <div class="small-9 columns">
                                    <input hidden  ng-model="addotvet.users_id" name="user_to[{{addotvet.users_id}}]">
                                    <input  type="text" ng-model="addotvet.users_fio" DISABLED>
                                </div>
                                <div class="small-3 columns">
                                    <button ng-click="delOtvetArr($index)"  class="button alert small">Исключить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"  >

                <div class="large-6 columns">
                        <label>Резолюция от</label>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input hidden  name="docs_type" value="0">
                                <input hidden  ng-model="resol.users_id" name="user_from_r.users_id">
                                <input type="text" DISABLED ng-model="resol.users_fio">
                            </div>
                            <div class="small-3 columns">
                                <a href="#" ng-click="changePage('first')" class="button prefix" data-reveal-id="myModalResol">Выбор</a>
                            </div>
                        </div>

                    </div>


                    <div class="large-12 columns">
                        <label>Текст резолюции</label>
                        <textarea ng-model="text" name="text"></textarea>
                    </div>
                    <br>
                    <div class="large-8 columns">
                        <label for="file">Прикрепить скан в формате PDF</label>
                        <input type="file" name="file" ng-model="file" id="file">
                    </div>


                    <div class="large-4 columns">
                        Контрольное
                            <input type="checkbox" name="docs_status" ng-model="control" id="checkbox1">

                    </div>
                    <div class="large-12 columns">
                        <div ng-show="control">
                            <div class="large-8 columns">
                            </div>
                            <div class="large-4 columns">
                                <label>Контрольная дата</label>
                                <input type="text" class="datepicker" ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="control_date" name="control_date">
                            </div>

                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul class="button-group">

                                <li><button ng-disabled="newDocForm.$invalid" class="button" type="submit" name="submit" upload-submit="uploadFile(content, completed)">Создать</button></li>
                                <li><a href="#/inbox" class="small button">Отмена</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </fieldset>
        </form>



    </div>


</div>
