<div id="modalEditOtdel" class="reveal-modal medium">
    <form ng-submit="editOtdel()" ng-controller="Inbox">

        <input type="hidden" ng-model="modal_otdel_id">
        <div class="row">
            <div class="large-10 columns">
                <label>Новое наименование</label>
                <input type="text"  ng-model="modal_otdel_name" required="">
            </div>
            <div class="large-2 columns">
                <label>Код</label>
                <input type="text"  ng-model="modal_otdel_code" required="">
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <ul class="button-group">
                    <li><button type="submit" class="small button">ОK</button></li>
                </ul>
            </div>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>

</div>


<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>


<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">

            <dd><a href="#/users"><h4><label>Сотрудники</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/dolg"><h4><label>Должности</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/otdels"><h4><label class="success label">Отделы</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/settings"><h4><label>Система</label></h4></a></dd>


       </dl>
    </div>
</div>




<div class="row">
    <div class="large-12 columns">
        <div class="row">

            <div class="large-offset-9 large-3 columns">
                <button class="button" ng-click="addOtd=!addOtd">Новый отдел</button>
            </div>
            <div  ng-show="addOtd">
                <h4>Добавить отдел</h4>

                <form ng-submit="addOtdel()" ng-controller="Inbox">

                    <div class="row">
                        <div class="large-8 columns">
                            <label>Наименование</label>
                            <input ng-model="otdel_name" name="otdel_name" type="text" required>
                        </div>
                        <div class="large-4 columns">
                            <label>Код подразделения</label>
                            <input ng-model="otdel_code" name="otdel_code" required>
                        </div><br>
                        <div class="row">
                            <div class="large-12 right-align columns">
                                <button class="button right" type="submit" name="submit">Создать</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row collapse">
            <div class="large-offset-2 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-6 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить название отдела или код подразделения">
            </div>
            <div class="large-4"></div>
        </div>


        <div class="row"  ng-init="getOtdels()">
            <div class="large-10 columns large-offset-1" ng-show="loader">

                <div class="large-2 columns large-offset-5">
                    <img src="./images/5-1.gif" width="35px" height="35px">
                </div>

            </div>
            <div class="large-12 columns" ng-hide="loader" ng-init="pageSize=20">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
                <table class="large-offset-3">

                    <thead>
                    <tr>
                        <th width="50">Код</th>
                        <th>Наименование</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="otdel in otdels | filter:query | startFrom: startItem | limitTo:limit ">

                        <td>{{otdel.otdel_code}}</td>
                        <td>{{otdel.otdel_name}}</td>
                        <!-- 0 - редактирем отдел -->
                        <td><button class="button small" ng-click="showEditModal(otdel, $index, 0)">редактировать</button></td>

                    </tr>

                    </tbody>
                </table>

                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

