<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>
<div class="row">
    <div class="large-12 columns" ng-show="show_manager">
        <ul class="button-group">
            <li><a href="#/newout" class="button">Зарегистрировать новое письмо</a></li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="large-6 columns">
        <div class="row collapse">
            <div class="small-10 columns">
                <input type="text" ng-model="query">
            </div>
            <div class="small-2 columns">
                <a href="#" class="button prefix" >Поиск</a>
            </div>
        </div>
    </div>

</div>
<div class="row" ng-init="getFirstDate(1)">

    <div class="large-8 columns" ng-init="archive=false">
        <label><a ng-click="archive=!archive">Архив</a></label>
        <div ng-show="archive">
        <label><a class="radius label" ng-repeat="year in Years" ng-click="getDocs(1, year)">{{year}} </a></label>
        </div>

    </div>

</div>

<div class="row">
    <div class="large-8 columns" ng-init="getDocs(1)" ng-show="loader">

      <div class="large-2 columns large-offset-5">
      <img src="./images/5-1.gif" width="35px" height="35px">
      </div>

    </div>

    <div class="large-8 columns" ng-hide="loader">
        <div class="pagination-centered" ng-init="changePage('first')">
            <ul class="pagination">
                <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
            </ul>
        </div>
        <table>
            <thead>
            <tr>
                <th width="10">№</th>
                <th>Тема</th>
                <th width="50">Контрагент</th>
                <th width="10">Дата</th>
                <th width="40">Ответ на №</th>
                <th width="50">Исполнитель</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="doc in docs | filter:query | startFrom: startItem | limitTo:limit "  ng-class="{'controlled': doc.docs_status=='K'}">

                <td>{{doc.docs_number}}</td>
                <td><a ng-href="#/doccard/{{doc.docs_id}}">{{doc.docs_subject}}</a></td>
                <td>{{doc.docs_contr}}</td>
                <td>{{doc.docs_date | date:'dd/MM/yy'}}</td>
                <td>{{doc.docs_answer}}</td>
                <td><a ng-href="#/user/{{doc.users_d.users_id}}">{{doc.users_d.users_fio}}</a></td>



            </tr>
            </tbody>
        </table>

        <div class="pagination-centered" ng-init="changePage('first')">
            <ul class="pagination">
                <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
            </ul>
        </div>

    </div>

   <div class="large-4 columns ">
       <h4>Контрольные задания</h4>

        <!--<div ui-date="{dateFormat: 'dd/mm/yy'}" ui-date-format="dd/mm/yy" ng-model="dateCtrl"></div>-->
       <div id="datepicker" ng-model="dateCtrl" ng-value=""  custom-date> </div>

       <div ng-show="showCtlText">

       <h4>Контрольные письма</h4>

        <div class="panel callout radius" ng-repeat="doc1 in docsControlled(dateCtrl)">


            <a ng-href="#/doccard/{{doc1.docs_id}}"><h5>Исходящий №{{doc1.docs_number}}</h5></a>


            <small>
            Тема: {{doc1.docs_subject}}<br>
            Ответственен: {{doc1.resolutions_d[0].user_to_r.users_fio}}
            </small>

        </div>

        </p>
       </div>

    </div>
</div>
