<div class="row" ng-init="showMenU()">
    <div class="large-10 columns">
        <h2>Отчеты</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>

<div class="row" ng-init="JournalReport=false">
    <div class="large-12 columns">
        <a href ng-click="JournalReport=!JournalReport">1. Журнал корреспонденции</a>
    </div>
</div>

<div class="row" ng-init='doc_types=[{"type_id": 0, "type_name": "Входящие"},{"type_id": 1, "type_name": "Исходящие"}]' ng-show="JournalReport">
    <div class="large-12 columns">
        <form action="/getjournal" method="POST">
            <fieldset>
               <div class="row">
                   <div class="large-2"><label>Тип документа</label></div>
                   <div class="large-4"><select  ng-model="doc_type" class="medium" ng-options="doc_type.type_name for doc_type in doc_types" required></select></div>
                   <input type="hidden" name="type_id" value="{{doc_type.type_id}}"/>
                   <hr>
               </div>
                <div class="row">
                    <div class="large-2 columns"><label>Начиная с номера..</label></div>
                    <div class="large-2 columns left-align"><input type="text" name="doc_start_number"/></div>
                    <div class="large-2 columns"><label>Заканчивая номером</label></div>
                    <div class="large-2 columns left"><input type="text" name="doc_end_number"/></div>
                </div>
                <div class="row">
                    <div class="large-offset-10 large-2">
                        <button class="right-align" type="submit">Выгрузить</button>
                    </div>
                </div>
            </fieldset>
        </form>



    </div>


</div>
