<div id="myModalResol" class="reveal-modal large">
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="large-offset-1 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-8 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить данные пользователя">
            </div>
            <div class="large-2"></div>
        </div>
        <div class="row">
            <div class="large-12">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" ng-init="getUsers()">
            <table>

                <thead>
                <tr>

                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Отдел</th>
                    <th>Выбрать</th>

                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">

                    <td>{{user.users_fio}}</td>
                    <td>{{user.dolgn_u.dolgn_name}}</td>
                    <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                    <td><label ng-click="setResol(user)">выбрать</label></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="myModalOtvet" class="reveal-modal large">
    <div class="large-12 columns">
        <div class="row collapse">
            <div class="large-offset-1 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-8 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить данные пользователя">
            </div>
            <div class="large-2"></div>
        </div>
        <div class="row">
            <div class="large-12">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-init="getUsers()">
                <table>
                   <thead>
                    <tr>

                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Отдел</th>
                        <th>Выбрать</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">

                        <td>{{user.users_fio}}</td>
                        <td>{{user.dolgn_u.dolgn_name}}</td>
                        <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                        <td><label ng-click="setOtvetArr(user)">выбрать</label></td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div class="row" ng-init="showMenU()">
    <div class="large-10 columns">
        <h2>Резолюция</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>

<div class="row">
    <div class="large-12 columns">


        <form>
            <fieldset>
                <div class="row"  >
                    <div class="large-6 columns">
                        <div class="row">

                            <div class="small-6 columns" >
                                <a href="#"  class="button prefix" data-reveal-id="myModalOtvet">Добавить ответственного</a>
                            </div>
                        </div>

                            <div class="row collapse">
                                <div class="small-12 columns" ng-repeat="addotvet in otvets">
                                <div class="small-9 columns">
                                <input  type="text" ng-model="addotvet.users_fio" DISABLED>
                                </div>
                                <div class="small-3 columns">
                                    <button ng-click="delOtvetArr($index)"  class="button alert small">Исключить</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row"  >

                    <div class="large-6 columns" ng-show="show_manager">
                        <label>Резолюция от</label>
                        <div class="row collapse">
                            <div class="small-9 columns">
                                <input hidden  ng-model="resol.users_id" name="user_from_r.users_id">
                                <input type="text" DISABLED ng-model="resol.users_fio">
                            </div>
                            <div class="small-3 columns">
                                <a href="#" ng-click="changePage('first')" class="button prefix" data-reveal-id="myModalResol">Выбор</a>
                            </div>
                        </div>

                    </div>
                  <div class="large-12 columns">
                        <label>Текст резолюции</label>
                        <textarea ng-model="resoltext" name="text"></textarea>
                    </div>
                    <br>
                    <div class="large-4 columns">
                        Контрольное
                        <input type="checkbox" name="docs_status" ng-click=controlDateStatus(control) ng-model="control" id="checkbox1">

                    </div>
                    <div class="large-12 columns">
                        <div ng-show="control">
                            <div class="large-8 columns">
                            </div>
                            <div class="large-4 columns">
                                <label>Контрольная дата</label>
                                <input type="text" class="datepicker" ui-date="{dateFormat: 'dd/mm/yy'}" ng-model="control_date" name="control_date">
                            </div>

                        </div>
                    </div>


                    <hr>
                    <div class="row">
                        <div class="large-12 columns">
                            <ul class="button-group">

                                <li><button class="button" type="submit" name="submit" ng-click="addResol(otvets, resoltext, control_date, resol.users_id)">Создать</button></li>
                                <li><a href="#/inbox" class="small button">Отмена</a></li>
                            </ul>
                        </div>
                    </div>

                </div>


            </fieldset>
        </form>



    </div>


</div>
