
<div id="mySettings" class="reveal-modal medium">
    <a class="close-reveal-modal">&#215;</a>

    <div class="large-12 columns">
        <p>Данные успешно изменены</p>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <ul class="button-group">
                <li><a ng-click="closeModal('#mySettings')" class="small button">ОK</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>


<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">

            <dd><a href="#/users"><h4><label >Сотрудники</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/dolg"><h4><label>Должности</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/otdels"><h4><label>Отделы</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/settings"><h4><label class="success label">Система</label></h4></a></dd>

        </dl>
    </div>
</div>

<div class="row">


    <form ng-submit="SetEmail()" ng-controller="Inbox" ng-init="getSystemEmail()">
        <fieldset>
            <legend>Настройка email</legend>
            <div class="row">
                <div class="large-3 columns">
                    <label>SMTP сервер</label>
                    <input ng-model="system_email.system_smtp" type="text" required="">
                </div>
                <div class="large-3 columns">
                    <label>Имя пользователя</label>
                    <input ng-model="system_email.system_login" type="text" required="">
                </div>
                <div class="large-3 columns">
                    <label>Пароль</label>
                    <input ng-model="system_email.system_password" type="password" required="">
                </div>
                <div class="large-3 columns">
                    <label>Email</label>
                    <input ng-model="system_email.system_address" type="text" type="email" required="">
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit" class="right">Подтвердить</button>
                </div>
            </div>


        </fieldset>
    </form>


</div>

<div class="row">


    <form ng-submit="SetNotif()" ng-controller="Inbox" ng-init="getCurNotif()">
        <fieldset>
            <legend>Настройка оповещения</legend>
            <div class="row">
                <div class="large-12 columns">

                <div class="large-9 columns">
                    <div class="large-4 columns">
                    <label>Начинать рассылку за </label>
                    </div>
                    <div class="large-2 columns">
                    <input ng-model="system_days" type="text" required="">
                    </div>
                    <div class="large-6 columns">
                    <label> дней до окончания контрольного срока</label>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <button type="submit" class="right">Подтвердить</button>
                </div>
            </div>


        </fieldset>
    </form>


</div>


