<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>


<div class="row">
    <div class="large-12 columns">
        <dl class="sub-nav">

            <dd><a href="#/users"><h4><label class="success label">Сотрудники</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/dolg"><h4><label>Должности</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/otdels"><h4><label>Отделы</label></h4></a></dd>
            <dt></dt>
            <dd><a href="#/settings"><h4><label>Система</label></h4></a></dd>

        </dl>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-offset-9 large-3 columns" ng-init="addUser=false">
                <a href="#/adduser"><button class="button">Новый сотрудник</button></a>
            </div>
        </div>

        <div class="row collapse">
            <div class="large-offset-2 large-2 columns">
                <span class="prefix">Поиск</span>
            </div>
            <div class="large-6 columns">
                <input type="text" ng-model="query" placeholder="Начинайте вводить ФИО или должности">
            </div>
            <div class="large-2"></div>
        </div>


        <div class="row" ng-init="getUsers()">
            <div class="large-12 columns" ng-show="loader">
              <div class="large-2 columns large-offset-5">
                <img src="./images/5-1.gif" width="35px" height="35px">
               </div>

            </div>
            <div class="large-12 columns" ng-init="pageSize=20" ng-hide="loader">
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>
                <table class="large-offset-2">

                    <thead>
                    <tr>

                        <th>ФИО</th>
                        <th>Должность</th>
                        <th>Отдел</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in users | filter:query | startFrom: startItem | limitTo:limit ">


                        <td><a ng-href="#/user/{{user.users_id}}">{{user.users_fio}}</a></td>
                        <td>{{user.dolgn_u.dolgn_name}}</td>
                        <td>{{user.dolgn_u.otdel_d.otdel_name}}</td>
                        <td><a ng-href="#/edituser/{{user.users_id}}"><button class="button small">редактировать</button></a></td>
                    </tr>

                    </tbody>
                </table>

               <!-- <div class="pagination-centered">
                    <ul class="pagination">
                        <li  ng-repeat="i in numberOfPages" ng-class="{current: $index==currentPage}"><a href="" ng-click="start(i*limit)">{{i+1}}</a></li>
                    </ul>
                </div>-->
                <div class="pagination-centered" ng-init="changePage('first')">
                    <ul class="pagination">
                        <li class="arrow"><a href="" ng-click="changePage(false)">&laquo;</a></li>
                        <li class="current"><a href="">{{currentPage+1}} из {{numberOfPages.length}}</a></li>
                        <li class="arrow"><a href="" ng-click="changePage(true)">&raquo;</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>