<div class="row">
    <div class="large-10 columns">
        <h2>{{docType}}</h2>

    </div>
    <div class="large-2 columns">
        <img ng-src="{{cat_image}}"/>
    </div>
    <hr>
</div>
<div class="row" ng-init="getUserCard()">
    <div class="large-3 columns panel" >
        <img ng-src="./photos/{{userCard[0].users_photo}}">
    </div>

    <div class="large-8 columns large-offset-1" ng-show="loader">

        <div class="large-2 columns large-offset-5">
            <img src="./images/5-1.gif" width="35px" height="35px">
        </div>

    </div>

    <div class="large-8 columns large-offset-1" ng-hide="loader">
         <h5>ФИО - {{userCard[0].users_fio}}</h5>
         <p>Отдел: {{userCard[0].dolgn_u.otdel_d.otdel_name}}</p>
         <p>Должность: {{userCard[0].dolgn_u.dolgn_name}}</p>
         <p>email: {{userCard[0].users_email}}</p>
        <p>Телефон 1: {{userCard[0].users_phone1}}</p>
        <p>Телефон 2: {{userCard[0].users_phone2}}</p>
        <p>Телефон 3: {{userCard[0].users_phone3}}</p>
        <hr>
        <p>Кратко о себе: {{userCard[0].users_about}}</p>

    </div>


</div>