<!DOCTYPE html>
<!--[if IE 8]> 				 <html ng-app="DoKky" class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="DoKky" class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
    <META Http-Equiv="Cache-Control" Content="no-cache">
    <META Http-Equiv="Pragma" Content="no-cache">
    <META Http-Equiv="Expires" Content="0">
    <title>DokKy. Мир ваших документов</title>


    <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="stylesheets/main.css" />
    <link rel="stylesheet" href="javascripts/jquery-ui-1.10.2/themes/base/jquery.ui.datepicker.css" />
    <link rel="stylesheet" href="javascripts/jquery-ui-1.10.2/themes/base/jquery.ui.theme.css" />
    <link rel="stylesheet" href="javascripts/jquery-ui-1.10.2/themes/base/jquery.ui.autocomplete.css" />

    <script src="javascripts/jquery-2.0.0.min.js"></script>
    <script src="javascripts/jquery-ui-1.10.2/ui/jquery.ui.core.js"></script>
    <script src="javascripts/jquery-ui-1.10.2/ui/jquery-ui.js"></script>
    <script src="javascripts/jquery-ui-1.10.2/ui/jquery.ui.autocomplete.js"></script>

    <script src="javascripts/jquery-ui-1.10.2/ui/jquery.ui.datepicker.js"></script>
    <script src="javascripts/moments.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/vendor/zepto.js"></script>
    <script src="javascripts/vendor/custom.modernizr.js"></script>

  <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angcook.js"></script>
  <script src="javascripts/angular-res.js"></script>
  <script src="javascripts/controllers/app6.js"></script>
  <script src="javascripts/ng-upload.min.js"></script>
  <script src="javascripts/angular-ui-0.4.0/common/module.js"></script>
  <script src="javascripts/angular-ui-0.4.0/modules/directives/date/date.js"></script>



</head>

            <script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
            '.js><\/script>')



</script>
<body ng-controller="Inbox">
<nav class="top-bar fixed" ng-show="menu" ng-init="showAdmin()">
    <ul class="title-area" ng-init="removeCache()">
        <!-- Title Area -->
        <li class="name title">
            <h1 class="subheader">DokKy v1</h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li class="divider"></li>
            <li><a href="#/inbox">Входящие</a></li>
            <li class="divider"></li>

        </ul>
        <ul class="left">
            <li class="divider"></li>
            <li><a href="#/outbox">Исходящие</a></li>
            <li class="divider"></li>

        </ul>


        <!-- Right Nav Section -->

        <ul class="right">
            <li ng-show="show_manager"><a href="#/reports">Отчеты</a></li>
            <li ng-show="show_admin"><a href="#/users">Настройки</a></li>
            <li class="divider hide-for-small"></li>
            <li><a href="#" ng-click="logout()">Выход</a></li>
        </ul>
    </section>
</nav>

<div ng-view></div>





  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).ready(function(){
        $(document).foundation();
    });
  </script>
</body>
</html>
